table {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	border-collapse: inherit;
	width: 100%;
	border-style: double;
	border-width: 3px;
}

td{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.text-center {
	text-align: 'center';
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: oblique;
	background-color: #dddddd;
}

.btn {
	outline: 10px;
}
